@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable';
}



.menuBar {
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.title {
  font-size: 20px;
  margin: 0px;
  display: inline;
}

.communityButton {
  width: 5rem;
  padding: 5px;
  float: right;
  display: inline;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(255, 241, 172);
  color: black;
}

.com-name{
    
    display: grid;
    place-items: left;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: rgb(255, 241, 172);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: 1000;
    height: 80px;
    font-size: 20px;

  }

  /* MainPage.css */
.main-page {
    text-align: center;
    padding: 25px;
  }
  
  .main-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .pagination {
    margin-top: 100px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: rgb(255, 241, 172);
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }


  .post-button {
    /* display: inline-block; */
    border-radius: 0.25rem;
    background-color: rgba(239, 68, 68, 0.125);
    padding: 0.5rem 2rem;
    font-weight: 900;
    color: #EF4444;
    border: 1px solid #F87171;
    cursor: pointer;
    position: absolute;
    /* bottom: 50px;
   
    margin-bottom: 1rem;*/
    margin-right: 2rem; 
    right: 0;
    /* 추가 스타일 */
  }

  .moreInfo{
    color: gray;
    margin-top: 0.7rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }


  /* Footer */
.footer {
  padding: 8px; 
  background: #ffed87;
  text-align: center;
  color: #a16c00;
}   

.footer h2{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.footer p{
  text-align: center;
  font-size: 12px;
}

.copyright {
  background: #ffed87;
  display: inline-block;
  color: #a16c00;
  font-size: 0.75em;
  text-align: center;
  padding: 1.5em 0 1em 0;
  width: 100%;
}