@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumSquareNeo-Variable';
}
h1{
    margin-bottom: 15px;
}

h3{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Header */
header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: left;
}

#header .logo {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -6px;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
}

#main { /*프로그램 수강 신청*/
    margin-block-start: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    border: 3em;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Submit-Wrapper */
.submit-wrapper {
    width: 350px;
    padding-top: 1px;
    padding-bottom: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#submit-form>input[type="name"],[type="tel"],[type="birthday"],[type="address"],[type="email"]  {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-size: 17px;
}

#submit-form>input::placeholder {
    color: #D2D2D2;
}

.submit-wrapper .checkbox-target, .checkbox-sex {
    font-size: 17px;
    padding-bottom: 10px; 
    margin-bottom: 20px;
}

/*
#login-form>input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #ffe045;
    border-radius: 4px;
    border: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    font-weight: 500; /*글자 두께*/ /*
    line-height: 2em; /*버튼 높이*/
    /*
    padding: 4px 3em; 
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    margin-top: 1.5em;
}

#login-form>input[type="submit"]:hover {
    color: #ffffff;
    background-color: #007bff;
}*/


#submit-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #ffe045;
    border-radius: 4px;
    border: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    font-weight: 500; /*글자 두께*/ 
    line-height: 2em; /*버튼 높이*/
    padding: 4px 3em; 
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    margin-top: 4em;
}

#submit-button:hover {
    color: #ffffff;
    background-color: #007bff;
}

.input1 {
    margin: 0px 5px 0px 0px;
}

.input2 {
    margin: 0px 5px 0px 15px;
}

.inputField {
    width: 18rem;
    height: 2.5rem;
    border: 0px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin: 0px;
}

.applyTitle {
    font-size: 20px;
    font-weight: bold;
}

.communityButton {
    width: 5rem;
    padding: 5px;
    float: right;
    display: inline;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(255, 241, 172);
    color: black;
}

.title {
    font-size: 20px;
    margin: 0px;
    display: inline;
}

.menuBar {
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid gray;
}

/* Footer */ 
#footer {
    padding: 8px; 
    background: #ffed87;
    text-align: center;
    color: #a16c00;
}   

#footer h2{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

#footer p{
    text-align: center;
    font-size: 12px;
}

.copyright {
    background: #ffed87;
    display: inline-block;
    color: #a16c00;
    font-size: 0.75em;
    text-align: center;
    padding: 1.5em 0 1em 0;
    width: 100%;
}